body {
  /* background-color: rgb(89, 201, 238); */
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Amiri", serif;
}

*:focus {
  outline: none;
}

#start-window {
  width: 50vh;
  background-color: whitesmoke;
  border: 1px solid rgb(27, 200, 216);
  border-radius: 5px;
  margin: 30px auto;
  padding: 10%;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

#string-choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25vh;
  justify-content: center;
}

.pick-string {
  font-size: 4vh;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  width: 40%;
  margin: 10px;
}

.note-display {
  display: flex;
  justify-content: center;
  margin: 10vh;
}

.pick-string:hover,
.note-name-button-display:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 0.8;
  background-color: white;
  border: 2px solid light gray;
}

img {
  width: 410px;
  height: 270px;
  object-fit: fill;
  border-radius: 5px;
}

#string-note-name-buttons {
  display: flex;
  justify-content: space-evenly;
}

.note-name-button-display {
  background-color: whitesmoke;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 8vh;
  padding: 10px 20px;
}

#faces,
#bottom {
  display: flex;
  justify-content: center;
  font-size: 60px;
}

#answer-button,
#restart {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 25%;
  color: rgb(77, 77, 77);
  background-color: rgb(179, 224, 240);
  transition-duration: 0.2s;
  opacity: 0.5;
}

#restart:hover,
#answer-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 0.8;
  color: lightgray;
  background-color: rgb(108, 176, 199);
}

#restart {
  left: 0;
  width: 25%;
}

#answer-image {
  width: auto;
  height: 15vh;
  object-fit: contain;
  margin-top: 30px;
  border-radius: 6px;
}

.hidden {
  display: none;
}
